In [22]:
#New Juice 2 LinkedIn Data Analysis

In [23]:
import pandas as pd

In [24]:
import numpy as np

In [25]:
import seaborn as sns

In [26]:
Febdf = pd.read_csv('dux-soup-visit-data@2021-02-23 10h50.csv')

In [27]:
Febdf.head()

,id,VisitTime,Profile,SalesProfile,Picture,Degree,First Name,Middle Name,Last Name,Connections,...,CompanyWebsite,Email,Phone,IM,Twitter,Location,Industry,My Tags,My Notes,Unnamed: 24
0,id.187999202,2021/01/15 09:41:38,https://www.linkedin.com/in/philippaartus,https://www.linkedin.com/sales/people/ACwAAAs0...,https://media-exp1.licdn.com/dms/image/C5603AQ...,3,Philippa,,Artus,1340,...,https://www.moorwand.com,,,,,"London Area, United Kingdom",Financial Services,|🦆-default-invited,NaN,NaN
1,id.28086713,2021/01/15 09:42:50,https://www.linkedin.com/in/jappy-takhar-a754a59,https://www.linkedin.com/sales/people/ACwAAAGs...,https://media-exp1.licdn.com/dms/image/C5603AQ...,3,Jappy,,Takhar,1376,...,http://www.comitfs.com,,,,,"London, England, United Kingdom",Financial Services,|🦆-default-invited,NaN,NaN
2,id.1310264,2021/01/15 09:43:39,https://www.linkedin.com/in/anjelikaklamp,https://www.linkedin.com/sales/people/ACwAAAAT...,,3,Anjelika,Klamp,Cfa,1069,...,http://www.igen-capital.com,,,,,"London, England, United Kingdom",Financial Services,|🦆-default-invited,NaN,NaN
3,id.137682286,2021/01/15 09:44:55,https://www.linkedin.com/in/henry-arundel-2ba1...,https://www.linkedin.com/sales/people/ACwAAAg0...,https://media-exp1.licdn.com/dms/image/C5603AQ...,3,Henry,,Arundel,623,...,http://www.nobleinsurance.co.uk,,,,,"London, England, United Kingdom",Financial Services,|🦆-default-invited,NaN,NaN
4,id.2726244,2021/01/15 09:46:20,https://www.linkedin.com/in/simon-freeman-830ab5,https://www.linkedin.com/sales/people/ACwAAAAp...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,3,Simon,,Freeman,515,...,,,,,snowbirdfinance,"Kingston upon Thames, England, United Kingdom",Financial Services,|🦆-default-invited,NaN,NaN

In [28]:
Febdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1332 entries, 0 to 1331
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1332 non-null   object
 1   VisitTime       1332 non-null   object
 2   Profile         1332 non-null   object
 3   SalesProfile    1332 non-null   object
 4   Picture         1332 non-null   object
 5   Degree          1332 non-null   object
 6   First Name      1332 non-null   object
 7   Middle Name     1332 non-null   object
 8   Last Name       1332 non-null   object
 9   Connections     1332 non-null   int64
 10  Summary         1332 non-null   object
 11  From            1332 non-null   object
 12  Title           1332 non-null   object
 13  Company         1332 non-null   object
 14  CompanyProfile  1332 non-null   object
 15  CompanyWebsite  1332 non-null   object
 16  Email           1332 non-null   object
 17  Phone           1332 non-null   object
 18  IM              1332 non-null   object
 19  Twitter         1332 non-null   object
 20  Location        1332 non-null   object
 21  Industry        1332 non-null   object
 22  My Tags         1303 non-null   object
 23  My Notes        0 non-null      float64
 24  Unnamed: 24     0 non-null      float64
dtypes: float64(2), int64(1), object(22)
memory usage: 260.3+ KB

In [29]:
Febdf['VisitTime']=pd.to_datetime(Febdf['VisitTime'])

In [30]:
Febdf['VisitTime']

0      2021-01-15 09:41:38
1      2021-01-15 09:42:50
2      2021-01-15 09:43:39
3      2021-01-15 09:44:55
4      2021-01-15 09:46:20
               ...
1327   2021-02-22 11:02:07
1328   2021-02-22 11:03:20
1329   2021-02-22 11:04:44
1330   2021-02-22 11:06:01
1331   2021-02-22 11:07:11
Name: VisitTime, Length: 1332, dtype: datetime64[ns]

In [31]:
Febdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1332 entries, 0 to 1331
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1332 non-null   object
 1   VisitTime       1332 non-null   datetime64[ns]
 2   Profile         1332 non-null   object
 3   SalesProfile    1332 non-null   object
 4   Picture         1332 non-null   object
 5   Degree          1332 non-null   object
 6   First Name      1332 non-null   object
 7   Middle Name     1332 non-null   object
 8   Last Name       1332 non-null   object
 9   Connections     1332 non-null   int64
 10  Summary         1332 non-null   object
 11  From            1332 non-null   object
 12  Title           1332 non-null   object
 13  Company         1332 non-null   object
 14  CompanyProfile  1332 non-null   object
 15  CompanyWebsite  1332 non-null   object
 16  Email           1332 non-null   object
 17  Phone           1332 non-null   object
 18  IM              1332 non-null   object
 19  Twitter         1332 non-null   object
 20  Location        1332 non-null   object
 21  Industry        1332 non-null   object
 22  My Tags         1303 non-null   object
 23  My Notes        0 non-null      float64
 24  Unnamed: 24     0 non-null      float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(21)
memory usage: 260.3+ KB

In [32]:
secondaudience=Febdf['VisitTime']>='2021-02-19 09:00:00'

In [33]:
secondaudience

0       False
1       False
2       False
3       False
4       False
        ...
1327     True
1328     True
1329     True
1330     True
1331     True
Name: VisitTime, Length: 1332, dtype: bool

In [34]:
Febdf[secondaudience]

,id,VisitTime,Profile,SalesProfile,Picture,Degree,First Name,Middle Name,Last Name,Connections,...,CompanyWebsite,Email,Phone,IM,Twitter,Location,Industry,My Tags,My Notes,Unnamed: 24
1214,id.1083385,2021-02-19 10:02:24,https://www.linkedin.com/in/michaelburling,https://www.linkedin.com/sales/people/ACwAAAAQ...,https://media-exp1.licdn.com/dms/image/C4E03AQ...,3,Michael,,Burling,2413,...,https://www.lightbend.com,,,,burlomp,"Ascot, England, United Kingdom",Computer Software,NaN,NaN,NaN
1215,id.4023587,2021-02-19 10:03:36,https://www.linkedin.com/in/ivickers,https://www.linkedin.com/sales/people/ACwAAAA9...,,3,Ian,,Vickers,2049,...,http://www.metcloud.com,,,,,"West Midlands, England, United Kingdom",Information Technology and Services,NaN,NaN,NaN
1216,id.73546610,2021-02-19 10:04:32,https://www.linkedin.com/in/melissa-snover-842...,https://www.linkedin.com/sales/people/ACwAAARi...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,2,Melissa,,Snover,14434,...,https://get-nourished.com/,,,,,"West Midlands, England, United Kingdom",Food & Beverages,NaN,NaN,NaN
1217,id.27975143,2021-02-19 10:05:16,https://www.linkedin.com/in/peterbruch,https://www.linkedin.com/sales/people/ACwAAAGq...,https://media-exp1.licdn.com/dms/image/C4E03AQ...,3,Peter,,Bruch,1640,...,http://aeaerospace.com,,,,aeaerospace,"West Midlands, England, United Kingdom",Aviation & Aerospace,NaN,NaN,NaN
1218,id.17512866,2021-02-19 10:06:20,https://www.linkedin.com/in/simoncrane144517,https://www.linkedin.com/sales/people/ACwAAAEL...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,2,Simon,,Crane,2265,...,,,,,,"Windsor, England, United Kingdom",Pharmaceuticals,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1327,id.139078819,2021-02-22 11:02:07,https://www.linkedin.com/in/pedrocarrajola,https://www.linkedin.com/sales/people/ACwAAAhK...,https://media-exp1.licdn.com/dms/image/C4E03AQ...,3,Pedro,,Carrajola,1297,...,https://www.berkshirecloud.com,,,,pcarrajola,"Reading, England, United Kingdom",Information Technology and Services,|🦆-default-invited,NaN,NaN
1328,id.3517142,2021-02-22 11:03:20,https://www.linkedin.com/in/andrewwmoore65,https://www.linkedin.com/sales/people/ACwAAAA1...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,3,Andrew,,Moore,5006,...,http://www.uksol.co.uk,,,,solarmanmoore,"Farnham Common, England, United Kingdom",Renewables & Environment,|🦆-default-invited,NaN,NaN
1329,id.784625987,2021-02-22 11:04:44,https://www.linkedin.com/in/bhupesh-bector-b6b...,https://www.linkedin.com/sales/people/ACwAAC7E...,https://media-exp1.licdn.com/dms/image/C4E03AQ...,3,Bhupesh,,Bector,894,...,,,,,,"Slough, England, United Kingdom",Food & Beverages,|🦆-default-invited,NaN,NaN
1330,id.47901181,2021-02-22 11:06:01,https://www.linkedin.com/in/daryn-parfitt-7110...,https://www.linkedin.com/sales/people/ACwAAALa...,https://media-exp1.licdn.com/dms/image/C4E03AQ...,2,Daryn,,Parfitt,11724,...,http://heps360.com/,,,,,"West Midlands, England, United Kingdom",Construction,|🦆-default-invited,NaN,NaN
1331,id.2403842,2021-02-22 11:07:11,https://www.linkedin.com/in/nichutchins,https://www.linkedin.com/sales/people/ACwAAAAk...,,2,Nic,,Hutchins,1615,...,http://www.helmpartnering.com,,,,,"Windsor, England, United Kingdom",Information Technology and Services,|🦆-default-invited,NaN,NaN

In [35]:
secondlist=Febdf[secondaudience]

In [36]:
secondlist

,id,VisitTime,Profile,SalesProfile,Picture,Degree,First Name,Middle Name,Last Name,Connections,...,CompanyWebsite,Email,Phone,IM,Twitter,Location,Industry,My Tags,My Notes,Unnamed: 24
1214,id.1083385,2021-02-19 10:02:24,https://www.linkedin.com/in/michaelburling,https://www.linkedin.com/sales/people/ACwAAAAQ...,https://media-exp1.licdn.com/dms/image/C4E03AQ...,3,Michael,,Burling,2413,...,https://www.lightbend.com,,,,burlomp,"Ascot, England, United Kingdom",Computer Software,NaN,NaN,NaN
1215,id.4023587,2021-02-19 10:03:36,https://www.linkedin.com/in/ivickers,https://www.linkedin.com/sales/people/ACwAAAA9...,,3,Ian,,Vickers,2049,...,http://www.metcloud.com,,,,,"West Midlands, England, United Kingdom",Information Technology and Services,NaN,NaN,NaN
1216,id.73546610,2021-02-19 10:04:32,https://www.linkedin.com/in/melissa-snover-842...,https://www.linkedin.com/sales/people/ACwAAARi...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,2,Melissa,,Snover,14434,...,https://get-nourished.com/,,,,,"West Midlands, England, United Kingdom",Food & Beverages,NaN,NaN,NaN
1217,id.27975143,2021-02-19 10:05:16,https://www.linkedin.com/in/peterbruch,https://www.linkedin.com/sales/people/ACwAAAGq...,https://media-exp1.licdn.com/dms/image/C4E03AQ...,3,Peter,,Bruch,1640,...,http://aeaerospace.com,,,,aeaerospace,"West Midlands, England, United Kingdom",Aviation & Aerospace,NaN,NaN,NaN
1218,id.17512866,2021-02-19 10:06:20,https://www.linkedin.com/in/simoncrane144517,https://www.linkedin.com/sales/people/ACwAAAEL...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,2,Simon,,Crane,2265,...,,,,,,"Windsor, England, United Kingdom",Pharmaceuticals,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1327,id.139078819,2021-02-22 11:02:07,https://www.linkedin.com/in/pedrocarrajola,https://www.linkedin.com/sales/people/ACwAAAhK...,https://media-exp1.licdn.com/dms/image/C4E03AQ...,3,Pedro,,Carrajola,1297,...,https://www.berkshirecloud.com,,,,pcarrajola,"Reading, England, United Kingdom",Information Technology and Services,|🦆-default-invited,NaN,NaN
1328,id.3517142,2021-02-22 11:03:20,https://www.linkedin.com/in/andrewwmoore65,https://www.linkedin.com/sales/people/ACwAAAA1...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,3,Andrew,,Moore,5006,...,http://www.uksol.co.uk,,,,solarmanmoore,"Farnham Common, England, United Kingdom",Renewables & Environment,|🦆-default-invited,NaN,NaN
1329,id.784625987,2021-02-22 11:04:44,https://www.linkedin.com/in/bhupesh-bector-b6b...,https://www.linkedin.com/sales/people/ACwAAC7E...,https://media-exp1.licdn.com/dms/image/C4E03AQ...,3,Bhupesh,,Bector,894,...,,,,,,"Slough, England, United Kingdom",Food & Beverages,|🦆-default-invited,NaN,NaN
1330,id.47901181,2021-02-22 11:06:01,https://www.linkedin.com/in/daryn-parfitt-7110...,https://www.linkedin.com/sales/people/ACwAAALa...,https://media-exp1.licdn.com/dms/image/C4E03AQ...,2,Daryn,,Parfitt,11724,...,http://heps360.com/,,,,,"West Midlands, England, United Kingdom",Construction,|🦆-default-invited,NaN,NaN
1331,id.2403842,2021-02-22 11:07:11,https://www.linkedin.com/in/nichutchins,https://www.linkedin.com/sales/people/ACwAAAAk...,,2,Nic,,Hutchins,1615,...,http://www.helmpartnering.com,,,,,"Windsor, England, United Kingdom",Information Technology and Services,|🦆-default-invited,NaN,NaN

In [37]:
secondlist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 1214 to 1331
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              118 non-null    object
 1   VisitTime       118 non-null    datetime64[ns]
 2   Profile         118 non-null    object
 3   SalesProfile    118 non-null    object
 4   Picture         118 non-null    object
 5   Degree          118 non-null    object
 6   First Name      118 non-null    object
 7   Middle Name     118 non-null    object
 8   Last Name       118 non-null    object
 9   Connections     118 non-null    int64
 10  Summary         118 non-null    object
 11  From            118 non-null    object
 12  Title           118 non-null    object
 13  Company         118 non-null    object
 14  CompanyProfile  118 non-null    object
 15  CompanyWebsite  118 non-null    object
 16  Email           118 non-null    object
 17  Phone           118 non-null    object
 18  IM              118 non-null    object
 19  Twitter         118 non-null    object
 20  Location        118 non-null    object
 21  Industry        118 non-null    object
 22  My Tags         100 non-null    object
 23  My Notes        0 non-null      float64
 24  Unnamed: 24     0 non-null      float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(21)
memory usage: 24.0+ KB

In [38]:
secondlist.sample()

,id,VisitTime,Profile,SalesProfile,Picture,Degree,First Name,Middle Name,Last Name,Connections,...,CompanyWebsite,Email,Phone,IM,Twitter,Location,Industry,My Tags,My Notes,Unnamed: 24
1262,id.35624702,2021-02-19 11:05:17,https://www.linkedin.com/in/simonjmorris,https://www.linkedin.com/sales/people/ACwAAAIf...,https://media-exp1.licdn.com/dms/image/C5603AQ...,2,Simon,,Morris,3041,...,https://wearecoal.co.uk,,,,Morris_Simon,"West Midlands, England, United Kingdom",Marketing and Advertising,|🦆-default-invited,NaN,NaN

In [39]:
df = pd.read_csv('dux-soup-visit-data@2021-03-17 13h47.csv')

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 965 entries, 0 to 964
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              965 non-null    object
 1   VisitTime       965 non-null    object
 2   Profile         965 non-null    object
 3   SalesProfile    965 non-null    object
 4   Picture         965 non-null    object
 5   Degree          965 non-null    int64
 6   First Name      965 non-null    object
 7   Middle Name     965 non-null    object
 8   Last Name       965 non-null    object
 9   Connections     965 non-null    int64
 10  Summary         965 non-null    object
 11  From            965 non-null    object
 12  Title           965 non-null    object
 13  Company         965 non-null    object
 14  CompanyProfile  965 non-null    object
 15  CompanyWebsite  965 non-null    object
 16  Email           965 non-null    object
 17  Phone           965 non-null    object
 18  IM              965 non-null    object
 19  Twitter         965 non-null    object
 20  Location        965 non-null    object
 21  Industry        965 non-null    object
 22  My Tags         949 non-null    object
 23  My Notes        0 non-null      float64
 24  Unnamed: 24     0 non-null      float64
dtypes: float64(2), int64(2), object(21)
memory usage: 188.6+ KB

In [41]:
df['VisitTime']=pd.to_datetime(df['VisitTime'])

In [42]:
df

,id,VisitTime,Profile,SalesProfile,Picture,Degree,First Name,Middle Name,Last Name,Connections,...,CompanyWebsite,Email,Phone,IM,Twitter,Location,Industry,My Tags,My Notes,Unnamed: 24
0,id.1083385,2021-02-23 12:08:04,https://www.linkedin.com/in/michaelburling,https://www.linkedin.com/sales/people/ACwAAAAQ...,https://media-exp1.licdn.com/dms/image/C4E03AQ...,3,Michael,,Burling,2414,...,https://www.lightbend.com,,,,burlomp,"Ascot, England, United Kingdom",Computer Software,NaN,NaN,NaN
1,id.73546610,2021-02-23 12:09:16,https://www.linkedin.com/in/melissa-snover-842...,https://www.linkedin.com/sales/people/ACwAAARi...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,2,Melissa,,Snover,14531,...,https://get-nourished.com/,,,,,"West Midlands, England, United Kingdom",Food & Beverages,NaN,NaN,NaN
2,id.4023587,2021-02-23 12:10:11,https://www.linkedin.com/in/ivickers,https://www.linkedin.com/sales/people/ACwAAAA9...,,2,Ian,,Vickers,2060,...,http://www.metcloud.com,,,,,"West Midlands, England, United Kingdom",Information Technology and Services,NaN,NaN,NaN
3,id.17512866,2021-02-23 12:11:18,https://www.linkedin.com/in/simoncrane144517,https://www.linkedin.com/sales/people/ACwAAAEL...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,2,Simon,,Crane,2271,...,,,,,,"Windsor, England, United Kingdom",Pharmaceuticals,NaN,NaN,NaN
4,id.82776665,2021-02-23 12:12:24,https://www.linkedin.com/in/markinsley,https://www.linkedin.com/sales/people/ACwAAATv...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,2,Mark,,Insley,6196,...,http://www.ascotwm.com,,,,ascotwm,"Sunningdale, England, United Kingdom",Financial Services,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
960,id.535994021,2021-03-17 13:37:28,https://www.linkedin.com/in/james-l-88560512b,https://www.linkedin.com/sales/people/ACwAAB_y...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,James,,Lester,217,...,http://blackinsomnia.coffee,jamesglester98@gmail.com,07483456361,,,Greater Oxford Area,Food & Beverages,|🦆-default-invited|sent case study,NaN,NaN
961,id.202328184,2021-03-17 13:38:51,https://www.linkedin.com/in/gregory-jansen-0a0...,https://www.linkedin.com/sales/people/ACwAAAwP...,https://media-exp1.licdn.com/dms/image/C5103AQ...,1,Gregory,,Jansen,878,...,,greg.jansen@bafi.co,,,greg_jansen,"West Midlands, England, United Kingdom",Financial Services,|🦆-default-invited|sent case study,NaN,NaN
962,id.46216433,2021-03-17 13:40:49,https://www.linkedin.com/in/paulwillett,https://www.linkedin.com/sales/people/ACwAAALB...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Paul,,Willett,1422,...,http://www.greencapital.co.uk,bu5iness@aol.com,07974455040,,,Greater Oxford Area,Information Technology and Services,|🦆-default-invited|sent case study,NaN,NaN
963,id.117795148,2021-03-17 13:42:12,https://www.linkedin.com/in/simi-nessa-5a454833,https://www.linkedin.com/sales/people/ACwAAAcF...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Simi,,Nessa,169,...,http://www.choicescare.org,simi_306@hotmail.com,,,,"West Midlands, England, United Kingdom",Hospital & Health Care,|🦆-default-invited|sent case study,NaN,NaN
964,id.778925600,2021-03-17 13:43:34,https://www.linkedin.com/in/remanda-rama-168a3...,https://www.linkedin.com/sales/people/ACwAAC5t...,https://media-exp1.licdn.com/dms/image/C4E03AQ...,1,Remanda,,Rama,715,...,,remandarama@gmail.com,,,,"Birmingham, England, United Kingdom",Marketing and Advertising,|🦆-default-invited|sent case study,NaN,NaN

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 965 entries, 0 to 964
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              965 non-null    object
 1   VisitTime       965 non-null    datetime64[ns]
 2   Profile         965 non-null    object
 3   SalesProfile    965 non-null    object
 4   Picture         965 non-null    object
 5   Degree          965 non-null    int64
 6   First Name      965 non-null    object
 7   Middle Name     965 non-null    object
 8   Last Name       965 non-null    object
 9   Connections     965 non-null    int64
 10  Summary         965 non-null    object
 11  From            965 non-null    object
 12  Title           965 non-null    object
 13  Company         965 non-null    object
 14  CompanyProfile  965 non-null    object
 15  CompanyWebsite  965 non-null    object
 16  Email           965 non-null    object
 17  Phone           965 non-null    object
 18  IM              965 non-null    object
 19  Twitter         965 non-null    object
 20  Location        965 non-null    object
 21  Industry        965 non-null    object
 22  My Tags         949 non-null    object
 23  My Notes        0 non-null      float64
 24  Unnamed: 24     0 non-null      float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(20)
memory usage: 188.6+ KB

In [44]:
dfall=pd.concat([secondlist,df],axis=0)

In [45]:
dfall

,id,VisitTime,Profile,SalesProfile,Picture,Degree,First Name,Middle Name,Last Name,Connections,...,CompanyWebsite,Email,Phone,IM,Twitter,Location,Industry,My Tags,My Notes,Unnamed: 24
1214,id.1083385,2021-02-19 10:02:24,https://www.linkedin.com/in/michaelburling,https://www.linkedin.com/sales/people/ACwAAAAQ...,https://media-exp1.licdn.com/dms/image/C4E03AQ...,3,Michael,,Burling,2413,...,https://www.lightbend.com,,,,burlomp,"Ascot, England, United Kingdom",Computer Software,NaN,NaN,NaN
1215,id.4023587,2021-02-19 10:03:36,https://www.linkedin.com/in/ivickers,https://www.linkedin.com/sales/people/ACwAAAA9...,,3,Ian,,Vickers,2049,...,http://www.metcloud.com,,,,,"West Midlands, England, United Kingdom",Information Technology and Services,NaN,NaN,NaN
1216,id.73546610,2021-02-19 10:04:32,https://www.linkedin.com/in/melissa-snover-842...,https://www.linkedin.com/sales/people/ACwAAARi...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,2,Melissa,,Snover,14434,...,https://get-nourished.com/,,,,,"West Midlands, England, United Kingdom",Food & Beverages,NaN,NaN,NaN
1217,id.27975143,2021-02-19 10:05:16,https://www.linkedin.com/in/peterbruch,https://www.linkedin.com/sales/people/ACwAAAGq...,https://media-exp1.licdn.com/dms/image/C4E03AQ...,3,Peter,,Bruch,1640,...,http://aeaerospace.com,,,,aeaerospace,"West Midlands, England, United Kingdom",Aviation & Aerospace,NaN,NaN,NaN
1218,id.17512866,2021-02-19 10:06:20,https://www.linkedin.com/in/simoncrane144517,https://www.linkedin.com/sales/people/ACwAAAEL...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,2,Simon,,Crane,2265,...,,,,,,"Windsor, England, United Kingdom",Pharmaceuticals,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
960,id.535994021,2021-03-17 13:37:28,https://www.linkedin.com/in/james-l-88560512b,https://www.linkedin.com/sales/people/ACwAAB_y...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,James,,Lester,217,...,http://blackinsomnia.coffee,jamesglester98@gmail.com,07483456361,,,Greater Oxford Area,Food & Beverages,|🦆-default-invited|sent case study,NaN,NaN
961,id.202328184,2021-03-17 13:38:51,https://www.linkedin.com/in/gregory-jansen-0a0...,https://www.linkedin.com/sales/people/ACwAAAwP...,https://media-exp1.licdn.com/dms/image/C5103AQ...,1,Gregory,,Jansen,878,...,,greg.jansen@bafi.co,,,greg_jansen,"West Midlands, England, United Kingdom",Financial Services,|🦆-default-invited|sent case study,NaN,NaN
962,id.46216433,2021-03-17 13:40:49,https://www.linkedin.com/in/paulwillett,https://www.linkedin.com/sales/people/ACwAAALB...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Paul,,Willett,1422,...,http://www.greencapital.co.uk,bu5iness@aol.com,07974455040,,,Greater Oxford Area,Information Technology and Services,|🦆-default-invited|sent case study,NaN,NaN
963,id.117795148,2021-03-17 13:42:12,https://www.linkedin.com/in/simi-nessa-5a454833,https://www.linkedin.com/sales/people/ACwAAAcF...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Simi,,Nessa,169,...,http://www.choicescare.org,simi_306@hotmail.com,,,,"West Midlands, England, United Kingdom",Hospital & Health Care,|🦆-default-invited|sent case study,NaN,NaN
964,id.778925600,2021-03-17 13:43:34,https://www.linkedin.com/in/remanda-rama-168a3...,https://www.linkedin.com/sales/people/ACwAAC5t...,https://media-exp1.licdn.com/dms/image/C4E03AQ...,1,Remanda,,Rama,715,...,,remandarama@gmail.com,,,,"Birmingham, England, United Kingdom",Marketing and Advertising,|🦆-default-invited|sent case study,NaN,NaN

In [46]:
First=dfall['Degree']==1

In [47]:
dfall[First]

,id,VisitTime,Profile,SalesProfile,Picture,Degree,First Name,Middle Name,Last Name,Connections,...,CompanyWebsite,Email,Phone,IM,Twitter,Location,Industry,My Tags,My Notes,Unnamed: 24
610,id.625383525,2021-03-16 10:54:13,https://www.linkedin.com/in/gareth-twist-91953...,https://www.linkedin.com/sales/people/ACwAACVG...,https://media-exp1.licdn.com/dms/image/C5603AQ...,1,Gareth,,Twist,4421,...,https://www.coindirect.com,twistgareth@gmail.com,,,,"London, England, United Kingdom",Financial Services,|🦆-default-invited|Sent Blog 1|sent blog 2|sen...,NaN,NaN
611,id.14573889,2021-03-16 10:55:25,https://www.linkedin.com/in/akeelkazmi-executi...,https://www.linkedin.com/sales/people/ACwAAADe...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Akeel,,Kazmi,4578,...,http://www.citydefend.com,akeel@upskillpd.co.uk,07956584610,,,"London Area, United Kingdom",Financial Services,|🦆-default-invited|Sent Blog 1|sent blog 2|sen...,NaN,NaN
612,id.109825787,2021-03-16 10:56:48,https://www.linkedin.com/in/daniel-goggin-70b9...,https://www.linkedin.com/sales/people/ACwAAAaL...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Daniel,,Goggin,2788,...,http://www.adsenmoore.co.uk,daniel_goggin@hotmail.co.uk,+44 (0) 7944 623 646,,,"London, England, United Kingdom",Financial Services,|🦆-default-invited|sent blog 2|sent case study,NaN,NaN
613,id.112118175,2021-03-16 10:58:09,https://www.linkedin.com/in/malcolm-dixon-2536...,https://www.linkedin.com/sales/people/ACwAAAau...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Malcolm,,Dixon,1710,...,https://www.whiskyinvestmentpartners.com/,malcolmjohndixon@gmail.com,+44 7709 394301,,,"London Area, United Kingdom",Financial Services,|🦆-default-invited|sent blog 2|sent case study,NaN,NaN
614,id.12664326,2021-03-16 10:59:31,https://www.linkedin.com/in/willdelucy,https://www.linkedin.com/sales/people/ACwAAADB...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Will,De,Lucy,13021,...,http://www.amplifytrading.com,w.delucy@amplifytrading.com,,Will de Lucy,amplifytrading,"London, England, United Kingdom",Financial Services,|🦆-default-invited|Sent Blog 1|sent blog 2|sen...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
960,id.535994021,2021-03-17 13:37:28,https://www.linkedin.com/in/james-l-88560512b,https://www.linkedin.com/sales/people/ACwAAB_y...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,James,,Lester,217,...,http://blackinsomnia.coffee,jamesglester98@gmail.com,07483456361,,,Greater Oxford Area,Food & Beverages,|🦆-default-invited|sent case study,NaN,NaN
961,id.202328184,2021-03-17 13:38:51,https://www.linkedin.com/in/gregory-jansen-0a0...,https://www.linkedin.com/sales/people/ACwAAAwP...,https://media-exp1.licdn.com/dms/image/C5103AQ...,1,Gregory,,Jansen,878,...,,greg.jansen@bafi.co,,,greg_jansen,"West Midlands, England, United Kingdom",Financial Services,|🦆-default-invited|sent case study,NaN,NaN
962,id.46216433,2021-03-17 13:40:49,https://www.linkedin.com/in/paulwillett,https://www.linkedin.com/sales/people/ACwAAALB...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Paul,,Willett,1422,...,http://www.greencapital.co.uk,bu5iness@aol.com,07974455040,,,Greater Oxford Area,Information Technology and Services,|🦆-default-invited|sent case study,NaN,NaN
963,id.117795148,2021-03-17 13:42:12,https://www.linkedin.com/in/simi-nessa-5a454833,https://www.linkedin.com/sales/people/ACwAAAcF...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Simi,,Nessa,169,...,http://www.choicescare.org,simi_306@hotmail.com,,,,"West Midlands, England, United Kingdom",Hospital & Health Care,|🦆-default-invited|sent case study,NaN,NaN
964,id.778925600,2021-03-17 13:43:34,https://www.linkedin.com/in/remanda-rama-168a3...,https://www.linkedin.com/sales/people/ACwAAC5t...,https://media-exp1.licdn.com/dms/image/C4E03AQ...,1,Remanda,,Rama,715,...,,remandarama@gmail.com,,,,"Birmingham, England, United Kingdom",Marketing and Advertising,|🦆-default-invited|sent case study,NaN,NaN

In [48]:
first=dfall[First]

In [49]:
first

,id,VisitTime,Profile,SalesProfile,Picture,Degree,First Name,Middle Name,Last Name,Connections,...,CompanyWebsite,Email,Phone,IM,Twitter,Location,Industry,My Tags,My Notes,Unnamed: 24
610,id.625383525,2021-03-16 10:54:13,https://www.linkedin.com/in/gareth-twist-91953...,https://www.linkedin.com/sales/people/ACwAACVG...,https://media-exp1.licdn.com/dms/image/C5603AQ...,1,Gareth,,Twist,4421,...,https://www.coindirect.com,twistgareth@gmail.com,,,,"London, England, United Kingdom",Financial Services,|🦆-default-invited|Sent Blog 1|sent blog 2|sen...,NaN,NaN
611,id.14573889,2021-03-16 10:55:25,https://www.linkedin.com/in/akeelkazmi-executi...,https://www.linkedin.com/sales/people/ACwAAADe...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Akeel,,Kazmi,4578,...,http://www.citydefend.com,akeel@upskillpd.co.uk,07956584610,,,"London Area, United Kingdom",Financial Services,|🦆-default-invited|Sent Blog 1|sent blog 2|sen...,NaN,NaN
612,id.109825787,2021-03-16 10:56:48,https://www.linkedin.com/in/daniel-goggin-70b9...,https://www.linkedin.com/sales/people/ACwAAAaL...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Daniel,,Goggin,2788,...,http://www.adsenmoore.co.uk,daniel_goggin@hotmail.co.uk,+44 (0) 7944 623 646,,,"London, England, United Kingdom",Financial Services,|🦆-default-invited|sent blog 2|sent case study,NaN,NaN
613,id.112118175,2021-03-16 10:58:09,https://www.linkedin.com/in/malcolm-dixon-2536...,https://www.linkedin.com/sales/people/ACwAAAau...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Malcolm,,Dixon,1710,...,https://www.whiskyinvestmentpartners.com/,malcolmjohndixon@gmail.com,+44 7709 394301,,,"London Area, United Kingdom",Financial Services,|🦆-default-invited|sent blog 2|sent case study,NaN,NaN
614,id.12664326,2021-03-16 10:59:31,https://www.linkedin.com/in/willdelucy,https://www.linkedin.com/sales/people/ACwAAADB...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Will,De,Lucy,13021,...,http://www.amplifytrading.com,w.delucy@amplifytrading.com,,Will de Lucy,amplifytrading,"London, England, United Kingdom",Financial Services,|🦆-default-invited|Sent Blog 1|sent blog 2|sen...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
960,id.535994021,2021-03-17 13:37:28,https://www.linkedin.com/in/james-l-88560512b,https://www.linkedin.com/sales/people/ACwAAB_y...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,James,,Lester,217,...,http://blackinsomnia.coffee,jamesglester98@gmail.com,07483456361,,,Greater Oxford Area,Food & Beverages,|🦆-default-invited|sent case study,NaN,NaN
961,id.202328184,2021-03-17 13:38:51,https://www.linkedin.com/in/gregory-jansen-0a0...,https://www.linkedin.com/sales/people/ACwAAAwP...,https://media-exp1.licdn.com/dms/image/C5103AQ...,1,Gregory,,Jansen,878,...,,greg.jansen@bafi.co,,,greg_jansen,"West Midlands, England, United Kingdom",Financial Services,|🦆-default-invited|sent case study,NaN,NaN
962,id.46216433,2021-03-17 13:40:49,https://www.linkedin.com/in/paulwillett,https://www.linkedin.com/sales/people/ACwAAALB...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Paul,,Willett,1422,...,http://www.greencapital.co.uk,bu5iness@aol.com,07974455040,,,Greater Oxford Area,Information Technology and Services,|🦆-default-invited|sent case study,NaN,NaN
963,id.117795148,2021-03-17 13:42:12,https://www.linkedin.com/in/simi-nessa-5a454833,https://www.linkedin.com/sales/people/ACwAAAcF...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Simi,,Nessa,169,...,http://www.choicescare.org,simi_306@hotmail.com,,,,"West Midlands, England, United Kingdom",Hospital & Health Care,|🦆-default-invited|sent case study,NaN,NaN
964,id.778925600,2021-03-17 13:43:34,https://www.linkedin.com/in/remanda-rama-168a3...,https://www.linkedin.com/sales/people/ACwAAC5t...,https://media-exp1.licdn.com/dms/image/C4E03AQ...,1,Remanda,,Rama,715,...,,remandarama@gmail.com,,,,"Birmingham, England, United Kingdom",Marketing and Advertising,|🦆-default-invited|sent case study,NaN,NaN

In [50]:
first.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 355 entries, 610 to 964
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              355 non-null    object
 1   VisitTime       355 non-null    datetime64[ns]
 2   Profile         355 non-null    object
 3   SalesProfile    355 non-null    object
 4   Picture         355 non-null    object
 5   Degree          355 non-null    object
 6   First Name      355 non-null    object
 7   Middle Name     355 non-null    object
 8   Last Name       355 non-null    object
 9   Connections     355 non-null    int64
 10  Summary         355 non-null    object
 11  From            355 non-null    object
 12  Title           355 non-null    object
 13  Company         355 non-null    object
 14  CompanyProfile  355 non-null    object
 15  CompanyWebsite  355 non-null    object
 16  Email           355 non-null    object
 17  Phone           355 non-null    object
 18  IM              355 non-null    object
 19  Twitter         355 non-null    object
 20  Location        355 non-null    object
 21  Industry        355 non-null    object
 22  My Tags         355 non-null    object
 23  My Notes        0 non-null      float64
 24  Unnamed: 24     0 non-null      float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(21)
memory usage: 72.1+ KB

In [51]:
citynumbers=first.groupby('Location')['Degree'] \
                             .count() \
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False) \
                             .head(20)

In [52]:
citynumbers

                                   Location  count
28          London, England, United Kingdom    116
44   West Midlands, England, United Kingdom     67
3       Birmingham, England, United Kingdom     18
23                      Greater Oxford Area     16
21                   Greater Cambridge Area     15
27              London Area, United Kingdom     12
5        Cambridge, England, United Kingdom     11
32         Reading, England, United Kingdom     11
25                     Greater Reading Area     10
34          Slough, England, United Kingdom      8
40                           United Kingdom      7
17                  England, United Kingdom      7
29      Maidenhead, England, United Kingdom      6
47         Windsor, England, United Kingdom      5
30         Newbury, England, United Kingdom      5
1            Ascot, England, United Kingdom      3
31          Oxford, England, United Kingdom      3
24                  Greater Portsmouth Area      2
13      Donnington, England, United Kingdom      2
9   City of London, England, United Kingdom      2

In [53]:
industry=first.groupby('Industry')['Degree'] \
                             .count() \
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False) \
                             .head(10)

In [54]:
industry

                               Industry  count
21                   Financial Services    150
42            Marketing and Advertising     30
17  Electrical/Electronic Manufacturing     14
33  Information Technology and Services     13
10                         Construction      9
41                Management Consulting      9
64              Staffing and Recruiting      6
34                             Internet      6
28               Hospital & Health Care      5
59                          Real Estate      5

In [55]:
company=first.groupby('Company')['Degree'] \
                             .count() \
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False) \
                             .head(5)

In [56]:
elec=first['Industry']=='Electrical/Electronic Manufacturing'

In [57]:
first[elec]

,id,VisitTime,Profile,SalesProfile,Picture,Degree,First Name,Middle Name,Last Name,Connections,...,CompanyWebsite,Email,Phone,IM,Twitter,Location,Industry,My Tags,My Notes,Unnamed: 24
638,id.76463537,2021-03-16 11:37:50,https://www.linkedin.com/in/sunday-ogar-89573521,https://www.linkedin.com/sales/people/ACwAAASO...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Sunday,,Ogar,4072,...,http://www.ogartechnology.com/,sales@ogartechnology.com,+448432897943,ogarconsulting2006,ogarconsulting,"Waterloo, England, United Kingdom",Electrical/Electronic Manufacturing,|🦆-default-invited|Sent Blog 1|sent case study,NaN,NaN
642,id.29597819,2021-03-16 11:43:16,https://www.linkedin.com/in/ian-townsend-44bab49,https://www.linkedin.com/sales/people/ACwAAAHD...,https://media-exp1.licdn.com/dms/image/C5603AQ...,1,Ian,,Townsend,299,...,https://cmselectra.com/uk/,ian@cmselectra.com,,,,"London, England, United Kingdom",Electrical/Electronic Manufacturing,|🦆-default-invited|sent blog 2|sent case study,NaN,NaN
671,id.67076676,2021-03-16 12:33:24,https://www.linkedin.com/in/gregg-barnes-6305691a,https://www.linkedin.com/sales/people/ACwAAAP_...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Gregg,,Barnes,2029,...,,gbarnes@eliteelectrical.co.uk,07887 946607,,,"London, England, United Kingdom",Electrical/Electronic Manufacturing,|🦆-default-invited|sent case study,NaN,NaN
680,id.630114461,2021-03-16 12:45:36,https://www.linkedin.com/in/jack-pleavin-6a503...,https://www.linkedin.com/sales/people/ACwAACWO...,https://media-exp1.licdn.com/dms/image/C5603AQ...,1,Jack,,Pleavin,3419,...,http://www.pleavinpower.co.uk,jack@pleavinpower.co.uk,0800 689 4803,,,"London, England, United Kingdom",Electrical/Electronic Manufacturing,|🦆-default-invited|sent blog 2|sent case study,NaN,NaN
689,id.83431903,2021-03-16 12:58:30,https://www.linkedin.com/in/muhammed-najmul-i-...,https://www.linkedin.com/sales/people/ACwAAAT5...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Muhammed,,Islam,490,...,http://www.duronic.com,,,,,"Romford, England, United Kingdom",Electrical/Electronic Manufacturing,|🦆-default-invited|sent blog 2|sent case study,NaN,NaN
697,id.192815481,2021-03-16 13:15:44,https://www.linkedin.com/in/nick-king-0496a754,https://www.linkedin.com/sales/people/ACwAAAt-...,https://media-exp1.licdn.com/dms/image/C5603AQ...,1,Nick,,King,3767,...,http://www.interface-manufacturing.com,nick.king@interface-manufacturing.com,07792741697,,,"St. Leonards, England, United Kingdom",Electrical/Electronic Manufacturing,|🦆-default-invited|sent blog 2|sent case study,NaN,NaN
698,id.474681147,2021-03-16 13:17:06,https://www.linkedin.com/in/ludvik-jaros,https://www.linkedin.com/sales/people/ACwAABxL...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Ludvík,,Jaroš,294,...,http://freebike.com/,ljaros@seznam.cz,,,,"London, England, United Kingdom",Electrical/Electronic Manufacturing,|🦆-default-invited|Sent Blog 1|sent blog 2|sen...,NaN,NaN
730,id.70845722,2021-03-16 14:11:10,https://www.linkedin.com/in/michitaka-kono-822...,https://www.linkedin.com/sales/people/ACwAAAQ5...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Michitaka,,Kono,250,...,,michitakak007@gmail.com,,,,"Addlestone, England, United Kingdom",Electrical/Electronic Manufacturing,|🦆-default-invited|sent blog 2|sent case study,NaN,NaN
737,id.476672568,2021-03-16 14:21:19,https://www.linkedin.com/in/ridas-grebliauskas...,https://www.linkedin.com/sales/people/ACwAABxp...,https://media-exp1.licdn.com/dms/image/C5103AQ...,1,Ridas,,Grebliauskas,359,...,http://111ss.co.uk,ridas@111ss.co.uk,,,,"London, England, United Kingdom",Electrical/Electronic Manufacturing,|🦆-default-invited|sent blog 2|sent case study,NaN,NaN
745,id.330120507,2021-03-16 14:32:13,https://www.linkedin.com/in/toby-clarke-b6368192,https://www.linkedin.com/sales/people/ACwAABOt...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Toby,,Clarke,919,...,https://www.apcbuildingservices.co.uk/electrical,toby@apcelectricalservices.co.uk,07787927731,,,"Bromley, England, United Kingdom",Electrical/Electronic Manufacturing,|🦆-default-invited|sent case study,NaN,NaN
750,id.354994849,2021-03-16 14:44:02,https://www.linkedin.com/in/colin-nunn-a01a789a,https://www.linkedin.com/sales/people/ACwAABUo...,https://media-exp1.licdn.com/dms/image/C4E03AQ...,1,Colin,,Nunn,98,...,,cnunn@bradleyelectrical.co.uk,,,,Greater Portsmouth Area,Electrical/Electronic Manufacturing,|🦆-default-invited|sent case study,NaN,NaN
759,id.462315809,2021-03-16 14:56:54,https://www.linkedin.com/in/fiat-lux-chandelie...,https://www.linkedin.com/sales/people/ACwAABuO...,https://media-exp1.licdn.com/dms/image/C5603AQ...,1,Fiat,,Chandeliers,89,...,,fiatluxchandeliers@yahoo.com,,,,"London, England, United Kingdom",Electrical/Electronic Manufacturing,|🦆-default-invited|sent blog 2|sent case study,NaN,NaN
776,id.54430892,2021-03-16 15:52:43,https://www.linkedin.com/in/paul-finney-43828b16,https://www.linkedin.com/sales/people/ACwAAAM-...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Paul,,Finney,1576,...,https://smartcomptech.com,paul_finney@live.co.uk,07919523155,,,"Cambridge, England, United Kingdom",Electrical/Electronic Manufacturing,|sent case study,NaN,NaN
857,id.8055341,2021-03-17 10:49:13,https://www.linkedin.com/in/ruth-everard-7a58452,https://www.linkedin.com/sales/people/ACwAAAB6...,https://media-exp1.licdn.com/dms/image/C5603AQ...,1,Ruth,,Everard,3514,...,,ruth@dragonmobility.com,,,,Greater Cambridge Area,Electrical/Electronic Manufacturing,|🦆-default-invited|sent case study,NaN,NaN

In [58]:
company

                         Company  count
170                         HSBC      2
0       111 Security Systems LTD      1
233                       Mprove      1
241  OWB Creative Communications      1
240                       OPTESS      1

In [59]:
title=first.groupby('Title')['Degree'] \
                             .count() \
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False) \
                             .head(5)

In [60]:
title

                               Title  count
93                 Managing Director    134
37                          Director     12
4      Business Development Director      8
45  Director Of Business Development      8
65                           Founder      6

In [61]:
first['Title']=='Director of Business Development'

610    False
611    False
612    False
613    False
614    False
       ...
960    False
961    False
962    False
963    False
964    False
Name: Title, Length: 355, dtype: bool

In [62]:
DBD=first['Title']=='Director Of Business Development'

In [63]:
dbd=first[DBD]

In [64]:
dbd.count()

id                8
VisitTime         8
Profile           8
SalesProfile      8
Picture           8
Degree            8
First Name        8
Middle Name       8
Last Name         8
Connections       8
Summary           8
From              8
Title             8
Company           8
CompanyProfile    8
CompanyWebsite    8
Email             8
Phone             8
IM                8
Twitter           8
Location          8
Industry          8
My Tags           8
My Notes          0
Unnamed: 24       0
dtype: int64

In [65]:
first['Title']=='Managing Director'

610    False
611    False
612     True
613    False
614     True
       ...
960    False
961    False
962    False
963     True
964    False
Name: Title, Length: 355, dtype: bool

In [66]:
MD=first['Title']=='Managing Director'

In [67]:
MD

610    False
611    False
612     True
613    False
614     True
       ...
960    False
961    False
962    False
963     True
964    False
Name: Title, Length: 355, dtype: bool

In [68]:
md=first[MD]

In [69]:
md.groupby('Title')['Degree'].count()

Title
Managing Director    134
Name: Degree, dtype: int64

In [70]:
md.count()

id                134
VisitTime         134
Profile           134
SalesProfile      134
Picture           134
Degree            134
First Name        134
Middle Name       134
Last Name         134
Connections       134
Summary           134
From              134
Title             134
Company           134
CompanyProfile    134
CompanyWebsite    134
Email             134
Phone             134
IM                134
Twitter           134
Location          134
Industry          134
My Tags           134
My Notes            0
Unnamed: 24         0
dtype: int64

In [71]:
first['Title']=='Marketing Director'

610    False
611    False
612    False
613    False
614    False
       ...
960    False
961    False
962    False
963    False
964    False
Name: Title, Length: 355, dtype: bool

In [72]:
MarD=first['Title']=='Marketing Director'

In [73]:
Mark=first[MarD]

In [74]:
Mark.count()

id                1
VisitTime         1
Profile           1
SalesProfile      1
Picture           1
Degree            1
First Name        1
Middle Name       1
Last Name         1
Connections       1
Summary           1
From              1
Title             1
Company           1
CompanyProfile    1
CompanyWebsite    1
Email             1
Phone             1
IM                1
Twitter           1
Location          1
Industry          1
My Tags           1
My Notes          0
Unnamed: 24       0
dtype: int64

In [75]:
first['Title']=='Marketing Manager'

610    False
611    False
612    False
613    False
614    False
       ...
960    False
961    False
962    False
963    False
964    False
Name: Title, Length: 355, dtype: bool

In [76]:
MarM=first['Title']=='Marketing Manager'

In [77]:
MM=first[MarM]

In [78]:
MM.count()

id                1
VisitTime         1
Profile           1
SalesProfile      1
Picture           1
Degree            1
First Name        1
Middle Name       1
Last Name         1
Connections       1
Summary           1
From              1
Title             1
Company           1
CompanyProfile    1
CompanyWebsite    1
Email             1
Phone             1
IM                1
Twitter           1
Location          1
Industry          1
My Tags           1
My Notes          0
Unnamed: 24       0
dtype: int64

In [79]:
first['Title']=='Sales Director'

610    False
611    False
612    False
613    False
614    False
       ...
960    False
961    False
962    False
963    False
964    False
Name: Title, Length: 355, dtype: bool

In [80]:
sd=first['Title']=='Sales Director'

In [81]:
SD=first[sd]

In [82]:
SD.count()

id                1
VisitTime         1
Profile           1
SalesProfile      1
Picture           1
Degree            1
First Name        1
Middle Name       1
Last Name         1
Connections       1
Summary           1
From              1
Title             1
Company           1
CompanyProfile    1
CompanyWebsite    1
Email             1
Phone             1
IM                1
Twitter           1
Location          1
Industry          1
My Tags           1
My Notes          0
Unnamed: 24       0
dtype: int64

In [83]:
2+2

4