In [1]:
#Paralel Precision LinkedIn Data Analysis

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import seaborn as sns

In [9]:
df = pd.read_csv('dux-soup-visit-data@2021-02-22 12h39.csv')

In [10]:
df.head(2)

,id,VisitTime,Profile,SalesProfile,Picture,Degree,First Name,Middle Name,Last Name,Connections,...,Email,Phone,IM,Twitter,Location,Industry,My Tags,PersonalWebsite,My Notes,Unnamed: 25
0,id.80002802,2020/10/28 14:26:11,https://www.linkedin.com/in/james-pomphrey,https://www.linkedin.com/sales/people/ACwAAATE...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,2,James,,Pomphrey,6979,...,,,,299LightingUK,"Bristol, England, United Kingdom",Design,🦆-default-invited,,NaN,NaN
1,id.82775786,2020/10/28 14:29:01,https://www.linkedin.com/in/mark-kemp-7a287a23,https://www.linkedin.com/sales/people/ACwAAATv...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,3,Mark,,Kemp,1473,...,,,,kempslightingUK,Greater Leeds Area,Electrical/Electronic Manufacturing,🦆-default-invited,,NaN,NaN

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3485 entries, 0 to 3484
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               3485 non-null   object
 1   VisitTime        3485 non-null   object
 2   Profile          3485 non-null   object
 3   SalesProfile     3485 non-null   object
 4   Picture          3485 non-null   object
 5   Degree           3485 non-null   object
 6   First Name       3485 non-null   object
 7   Middle Name      3485 non-null   object
 8   Last Name        3485 non-null   object
 9   Connections      3485 non-null   int64
 10  Summary          3485 non-null   object
 11  From             3485 non-null   object
 12  Title            3485 non-null   object
 13  Company          3485 non-null   object
 14  CompanyProfile   3485 non-null   object
 15  CompanyWebsite   3485 non-null   object
 16  Email            3485 non-null   object
 17  Phone            3485 non-null   object
 18  IM               3485 non-null   object
 19  Twitter          3485 non-null   object
 20  Location         3485 non-null   object
 21  Industry         3485 non-null   object
 22  My Tags          3483 non-null   object
 23  PersonalWebsite  3485 non-null   object
 24  My Notes         0 non-null      float64
 25  Unnamed: 25      0 non-null      float64
dtypes: float64(2), int64(1), object(23)
memory usage: 708.0+ KB

In [12]:
df.sample(5)

,id,VisitTime,Profile,SalesProfile,Picture,Degree,First Name,Middle Name,Last Name,Connections,...,Email,Phone,IM,Twitter,Location,Industry,My Tags,PersonalWebsite,My Notes,Unnamed: 25
2956,id.177688375,2021/02/01 10:40:16,https://www.linkedin.com/in/joebtlunn,https://www.linkedin.com/sales/people/ACwAAAqX...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,3,Joe,,L,46,...,,,,,"Leicester, England, United Kingdom",Information Technology and Services,🦆-default-invited,,NaN,NaN
3471,id.392699826,2021/02/19 11:46:23,https://www.linkedin.com/in/martin-davis-a16620ab,https://www.linkedin.com/sales/people/ACwAABdo...,,3,Martin,,Davis,27,...,,,,,"Newcastle upon Tyne, England, United Kingdom",Electrical/Electronic Manufacturing,🦆-default-invited,,NaN,NaN
1054,id.14602267,2020/12/09 09:52:03,https://www.linkedin.com/in/lee-bensley-477a824,https://www.linkedin.com/sales/people/ACwAAADe...,https://media-exp1.licdn.com/dms/image/C4E03AQ...,2,Lee,,Bensley,1734,...,,,,,"Dudley, England, United Kingdom",Electrical/Electronic Manufacturing,🦆-default-invited,,NaN,NaN
2644,id.145749385,2021/01/21 10:19:30,https://www.linkedin.com/in/john-baxter-86198940,https://www.linkedin.com/sales/people/ACwAAAiv...,https://media-exp1.licdn.com/dms/image/C5603AQ...,3,John,,Baxter,61,...,,,,,United Kingdom,Consumer Electronics,🦆-default-invited,,NaN,NaN
2926,id.528057006,2021/02/01 09:52:05,https://www.linkedin.com/in/jack-curson-666a18128,https://www.linkedin.com/sales/people/ACwAAB95...,https://media-exp1.licdn.com/dms/image/C5603AQ...,3,Jack,,Curson,82,...,,,,,"Leicester, England, United Kingdom",Design,🦆-default-invited,,NaN,NaN

In [13]:
First=df['Degree']=='1'

In [14]:
First

0       False
1       False
2       False
3       False
4       False
        ...
3480    False
3481    False
3482    False
3483    False
3484    False
Name: Degree, Length: 3485, dtype: bool

In [16]:
df[First].sample(5)

,id,VisitTime,Profile,SalesProfile,Picture,Degree,First Name,Middle Name,Last Name,Connections,...,Email,Phone,IM,Twitter,Location,Industry,My Tags,PersonalWebsite,My Notes,Unnamed: 25
2409,id.159788130,2021/01/20 13:08:38,https://www.linkedin.com/in/duncan-coombe-b966...,https://www.linkedin.com/sales/people/ACwAAAmG...,https://media-exp1.licdn.com/dms/image/C5603AQ...,1,Duncan,,Coombe,492,...,duncan.coombe@dclx.co.uk,,,,"Bromley, England, United Kingdom",Events Services,🦆-default-invited|Sent Blog 1|conversation|Sen...,,NaN,NaN
2517,id.18033162,2021/01/20 15:58:05,https://www.linkedin.com/in/amanda-radley-a360576,https://www.linkedin.com/sales/people/ACwAAAET...,https://media-exp1.licdn.com/dms/image/C4E03AQ...,1,Amanda,,Radley,2093,...,cartshed13@gmail.com,+44 (0) 7512 551442,,,"South Cerney, England, United Kingdom",Design,🦆-default-invited|Sent Blog 1|Sent Blog 2,,NaN,NaN
2511,id.70993672,2021/01/20 15:44:19,https://www.linkedin.com/in/ruth-katharina-her...,https://www.linkedin.com/sales/people/ACwAAAQ7...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Ruth-Katharina,,Hering,323,...,rk.hering@gmail.com,,,,United Kingdom,Design,|🦆-default-invited|Sent Blog 1|Sent Blog 2,,NaN,NaN
2453,id.163405657,2021/01/20 14:14:28,https://www.linkedin.com/in/andrew-paddon-5618...,https://www.linkedin.com/sales/people/ACwAAAm9...,https://media-exp1.licdn.com/dms/image/C5603AQ...,1,Andrew,,Paddon,828,...,,,,,"Bexley, England, United Kingdom",Electrical/Electronic Manufacturing,🦆-default-invited|Sent Blog 1|Sent Blog 2,,NaN,NaN
2420,id.84205176,2021/01/20 13:27:35,https://www.linkedin.com/in/gary-smith-a2024924,https://www.linkedin.com/sales/people/ACwAAAUE...,https://media-exp1.licdn.com/dms/image/C4E03AQ...,1,Gary,,Smith,668,...,gary@lightique.com,,,,"Coventry, England, United Kingdom",Electrical/Electronic Manufacturing,🦆-default-invited|Sent Blog 1|Sent Blog 2,,NaN,NaN

In [17]:
first=df[First]

In [18]:
first.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 253 entries, 643 to 3340
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               253 non-null    object
 1   VisitTime        253 non-null    object
 2   Profile          253 non-null    object
 3   SalesProfile     253 non-null    object
 4   Picture          253 non-null    object
 5   Degree           253 non-null    object
 6   First Name       253 non-null    object
 7   Middle Name      253 non-null    object
 8   Last Name        253 non-null    object
 9   Connections      253 non-null    int64
 10  Summary          253 non-null    object
 11  From             253 non-null    object
 12  Title            253 non-null    object
 13  Company          253 non-null    object
 14  CompanyProfile   253 non-null    object
 15  CompanyWebsite   253 non-null    object
 16  Email            253 non-null    object
 17  Phone            253 non-null    object
 18  IM               253 non-null    object
 19  Twitter          253 non-null    object
 20  Location         253 non-null    object
 21  Industry         253 non-null    object
 22  My Tags          253 non-null    object
 23  PersonalWebsite  253 non-null    object
 24  My Notes         0 non-null      float64
 25  Unnamed: 25      0 non-null      float64
dtypes: float64(2), int64(1), object(23)
memory usage: 53.4+ KB

In [29]:
citynumbers=first.groupby('Location')['Degree'].count().reset_index()

In [35]:
citynumbers

                                   Location  Degree
0       Addlestone, England, United Kingdom       1
1       Altrincham, England, United Kingdom       2
2        Aston End, England, United Kingdom       1
3         Balcombe, England, United Kingdom       1
4        Barrmill, Scotland, United Kingdom       1
..                                      ...     ...
129  West Midlands, England, United Kingdom       4
130    Westminster, England, United Kingdom       2
131       Whitnash, England, United Kingdom       1
132        Windsor, England, United Kingdom       1
133           York, England, United Kingdom       1

[134 rows x 2 columns]

In [34]:
citynumbers.sort_values('Location', ascending=False)

                                   Location  Degree
133           York, England, United Kingdom       1
132        Windsor, England, United Kingdom       1
131       Whitnash, England, United Kingdom       1
130    Westminster, England, United Kingdom       2
129  West Midlands, England, United Kingdom       4
..                                      ...     ...
4        Barrmill, Scotland, United Kingdom       1
3         Balcombe, England, United Kingdom       1
2        Aston End, England, United Kingdom       1
1       Altrincham, England, United Kingdom       2
0       Addlestone, England, United Kingdom       1

[134 rows x 2 columns]

In [25]:
citynumbers

Location
Addlestone, England, United Kingdom       1
Altrincham, England, United Kingdom       2
Aston End, England, United Kingdom        1
Balcombe, England, United Kingdom         1
Barrmill, Scotland, United Kingdom        1
                                         ..
West Midlands, England, United Kingdom    4
Westminster, England, United Kingdom      2
Whitnash, England, United Kingdom         1
Windsor, England, United Kingdom          1
York, England, United Kingdom             1
Name: Degree, Length: 134, dtype: int64

In [28]:
first['Location'].tolist()

['Greater Blackburn with Darwen Area',
 'Greater Leicester Area',
 'Windsor, England, United Kingdom',
 'Croft, England, United Kingdom',
 'Dumfries, Scotland, United Kingdom',
 'Holmfirth, England, United Kingdom',
 'West Midlands, England, United Kingdom',
 'Motherwell, Scotland, United Kingdom',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'Great Wakering, England, United Kingdom',
 'London, England, United Kingdom',
 'Altrincham, England, United Kingdom',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'Greater Brighton and Hove Area',
 'Newcastle upon Tyne, England, United Kingdom',
 'Manchester Area, United Kingdom',
 'London, England, United Kingdom',
 'United Kingdom',
 'Glyntaff, Wales, United Kingdom',
 'United Kingdom',
 'Luton, England, United Kingdom',
 'Goring-by-Sea, England, United Kingdom',
 'London, England, United Kingdom',
 'Rothwell, England, United Kingdom',
 'Greater Oxford Area',
 'Poole, England, United Kingdom',
 'London, England, United Kingdom',
 'Leicester, England, United Kingdom',
 'Greater Nottingham',
 'London, England, United Kingdom',
 'Cheltenham, England, United Kingdom',
 'Stalmine, England, United Kingdom',
 'St. Neots, England, United Kingdom',
 'Greater Derby Area',
 'London, England, United Kingdom',
 'Greater Sheffield Area',
 'Peterborough, England, United Kingdom',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'Southminster, England, United Kingdom',
 'London, England, United Kingdom',
 'United Kingdom',
 'Watford, England, United Kingdom',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'Sheffield, England, United Kingdom',
 'Greater Ipswich Area',
 'London, England, United Kingdom',
 'Sandhurst, England, United Kingdom',
 'United Kingdom',
 'Bromley, England, United Kingdom',
 'Selsey, England, United Kingdom',
 'Whitnash, England, United Kingdom',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'Greater Derby Area',
 'Manchester Area, United Kingdom',
 'Greater Glasgow Area',
 'Greater Reading Area',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'Coventry, England, United Kingdom',
 'Pontypridd, Wales, United Kingdom',
 'Leek Wootton, England, United Kingdom',
 'Stockport, England, United Kingdom',
 'London, England, United Kingdom',
 'Newcastle upon Tyne, England, United Kingdom',
 'Stevenage, England, United Kingdom',
 'Westminster, England, United Kingdom',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'Brighton, England, United Kingdom',
 'Greater Preston Area',
 'Belfast, Northern Ireland, United Kingdom',
 'Newcastle upon Tyne, England, United Kingdom',
 'Shrewsbury, England, United Kingdom',
 'Crowthorne, England, United Kingdom',
 'Greater Leeds Area',
 'London, England, United Kingdom',
 'Maidenhead, England, United Kingdom',
 'London, England, United Kingdom',
 'Milton Keynes, England, United Kingdom',
 'Balcombe, England, United Kingdom',
 'Tadley, England, United Kingdom',
 'Torquay, England, United Kingdom',
 'Ottershaw, England, United Kingdom',
 'United Kingdom',
 'Greater Glasgow Area',
 'London, England, United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'Greater Blackburn with Darwen Area',
 'West End, England, United Kingdom',
 'Bexley, England, United Kingdom',
 'Royston, England, United Kingdom',
 'London, England, United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'Reading, England, United Kingdom',
 'London, England, United Kingdom',
 'Greater Glasgow Area',
 'Manchester, England, United Kingdom',
 'London, England, United Kingdom',
 'Greater Sheffield Area',
 'Berkhamsted, England, United Kingdom',
 'Goostrey, England, United Kingdom',
 'United Kingdom',
 'Copford Green, England, United Kingdom',
 'South Croydon, England, United Kingdom',
 'London, England, United Kingdom',
 'London Area, United Kingdom',
 'Bristol, England, United Kingdom',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'Greater Leicester Area',
 'Keighley, England, United Kingdom',
 'Manchester, England, United Kingdom',
 'Greater Southampton Area',
 'Greater Southampton Area',
 'Hereford, England, United Kingdom',
 'Darlington, England, United Kingdom',
 'London, England, United Kingdom',
 'Milton Keynes, England, United Kingdom',
 'London, England, United Kingdom',
 'United Kingdom',
 'Manchester, England, United Kingdom',
 'Booker, England, United Kingdom',
 'London, England, United Kingdom',
 'Addlestone, England, United Kingdom',
 'Durham, England, United Kingdom',
 'London, England, United Kingdom',
 'Kingston upon Thames, England, United Kingdom',
 'Greater Portsmouth Area',
 'Bridgend, Wales, United Kingdom',
 'Durham, England, United Kingdom',
 'Batley, England, United Kingdom',
 'Slough, England, United Kingdom',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'Canterbury, England, United Kingdom',
 'Maidstone, England, United Kingdom',
 'South Gloucestershire, England, United Kingdom',
 'Greater Sheffield Area',
 'London, England, United Kingdom',
 'Greater Newport Area',
 'United Kingdom',
 'United Kingdom',
 'Walmer, England, United Kingdom',
 'Erskine, Scotland, United Kingdom',
 'London, England, United Kingdom',
 'United Kingdom',
 'West Midlands, England, United Kingdom',
 'Greater Stoke-on-Trent Area',
 'Greater Northampton Area, United Kingdom',
 'Elmbridge, England, United Kingdom',
 'Barrmill, Scotland, United Kingdom',
 'South Cerney, England, United Kingdom',
 'Greater Stoke-on-Trent Area',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'Faversham, England, United Kingdom',
 'Watford, England, United Kingdom',
 'Doncaster, England, United Kingdom',
 'England, United Kingdom',
 'Thornaby-on-Tees, England, United Kingdom',
 'Cheltenham, England, United Kingdom',
 'West Midlands, England, United Kingdom',
 'Edinburgh, Scotland, United Kingdom',
 'Beaconsfield, England, United Kingdom',
 'Greater Ipswich Area',
 'London, England, United Kingdom',
 'Shifnal, England, United Kingdom',
 'Poole, England, United Kingdom',
 'West Midlands, England, United Kingdom',
 'London, England, United Kingdom',
 'Bristol, England, United Kingdom',
 'London, England, United Kingdom',
 'Manchester Area, United Kingdom',
 'Warrington, England, United Kingdom',
 'Stevenage, England, United Kingdom',
 'London, England, United Kingdom',
 'Nelson, England, United Kingdom',
 'London, England, United Kingdom',
 'Richmondshire, England, United Kingdom',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'Farnham, England, United Kingdom',
 'Milton Keynes, England, United Kingdom',
 'Altrincham, England, United Kingdom',
 'Bury, England, United Kingdom',
 'Aston End, England, United Kingdom',
 'Greater Glasgow Area',
 'Ossett, England, United Kingdom',
 'United Kingdom',
 'Wellingborough, England, United Kingdom',
 'South Staffordshire, England, United Kingdom',
 'Bristol, England, United Kingdom',
 'East Hertfordshire, England, United Kingdom',
 'London, England, United Kingdom',
 'Sheffield, England, United Kingdom',
 'Belfast, Northern Ireland, United Kingdom',
 'United Kingdom',
 'Greater Bristol Area, United Kingdom',
 'United Kingdom',
 'Glasgow, Scotland, United Kingdom',
 'Greater Bournemouth Area',
 'London, England, United Kingdom',
 'Ipswich, England, United Kingdom',
 'Greater Exeter Area',
 'London, England, United Kingdom',
 'Walton-on-Thames, England, United Kingdom',
 'York, England, United Kingdom',
 'Teignmouth, England, United Kingdom',
 'Thatcham, England, United Kingdom',
 'Forest Row, England, United Kingdom',
 'Southampton, England, United Kingdom',
 'Peterborough, England, United Kingdom',
 'Greater Cambridge Area',
 'Greater Lincoln Area, United Kingdom',
 'Greater Oxford Area',
 'Kilmarnock, Scotland, United Kingdom',
 'Greater Swansea Area',
 'Dudley, England, United Kingdom',
 'Tarporley, England, United Kingdom',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'Liverpool, England, United Kingdom',
 'Bath, England, United Kingdom',
 'Kensington & Chelsea, England, United Kingdom',
 'Greater Derby Area',
 'Ipswich, England, United Kingdom',
 'London, England, United Kingdom',
 'Peterborough, England, United Kingdom',
 'London, England, United Kingdom',
 'Shrewsbury, England, United Kingdom',
 'Greater Cardiff Area',
 'Middlesbrough, England, United Kingdom',
 'Westminster, England, United Kingdom',
 'Glasgow, Scotland, United Kingdom',
 'Tonbridge, England, United Kingdom',
 'Exmouth, England, United Kingdom',
 'London, England, United Kingdom',
 'Lindfield, England, United Kingdom',
 'London, England, United Kingdom',
 'Milton Keynes, England, United Kingdom',
 'Greater Stoke-on-Trent Area',
 'Leeds, England, United Kingdom']

In [49]:
cities=first.groupby('Location')['Degree'] \
                             .count() \
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False) \
                             .head(10)

In [50]:
cities

                                         Location  count
79                London, England, United Kingdom     59
122                                United Kingdom     20
86         Milton Keynes, England, United Kingdom      4
129        West Midlands, England, United Kingdom      4
50                           Greater Glasgow Area      4
84            Manchester, England, United Kingdom      3
64                    Greater Stoke-on-Trent Area      3
83                Manchester Area, United Kingdom      3
14               Bristol, England, United Kingdom      3
89   Newcastle upon Tyne, England, United Kingdom      3

In [51]:
industry=first.groupby('Industry')['Degree'] \
                             .count() \
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False) \
                             .head(10)

In [52]:
industry

                                Industry  count
9    Electrical/Electronic Manufacturing     96
8                                 Design     56
7                           Construction     20
22  Mechanical or Industrial Engineering     13
2                Architecture & Planning     12
25                           Photography     10
33                    Telecommunications      4
21             Marketing and Advertising      4
17   Information Technology and Services      3
29                           Real Estate      3

In [82]:
tags=first.groupby('My Tags')['Degree'] \
                             .count() \
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False) \
                             .head(5)

In [83]:
tags

                                              My Tags  count
10          🦆-default-invited|Sent Blog 1|Sent Blog 2    105
3          |🦆-default-invited|Sent Blog 1|Sent Blog 2     89
13                      🦆-default-invited|Sent Blog 2     26
5                      |🦆-default-invited|Sent Blog 2      9
16  🦆-default-invited|conversation|Sent Blog 1|Sen...      5

In [55]:
first['My Tags'].tolist()

['🦆-default-invited|Sent Blog 1',
 '|🦆-default-invited|Sent Blog 1',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 'Sent Blog 1|🦆-default-invited|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 'Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2|donotmessage',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|conversation|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 'Sent Blog 1|🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2|donotmessage',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2|donotmessage',
 '🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|conversation|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|conversation|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|conversation|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 'Sent Blog 1|🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|conversation|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|conversation|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|conversation|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|conversation|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 'Sent Blog 1|🦆-default-invited|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 2|conversation',
 '🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 2|conversation',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 2|donotmessage',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '🦆-default-invited|Sent Blog 1|Sent Blog 2',
 '|🦆-default-invited|Sent Blog 1|Sent Blog 2|donotmessage',
 '🦆-default-invited|Sent Blog 2',
 '🦆-default-invited|conversation',
 '🦆-default-invited']

In [63]:
company=first.groupby('Company')['Degree'] \
                             .count() \
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False) \
                             .head(5)

In [64]:
company

                                   Company  count
59                Edmundson Electrical Ltd      5
211                       Thorlux Lighting      3
11                         Ansell Lighting      3
30                      CU Phosco Lighting      2
196  Stainton Lighting Design Services Ltd      2

In [68]:
title=first.groupby('Title')['Degree'] \
                             .count() \
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False) \
                             .head(20)

In [69]:
title

                        Title  count
121         Managing Director     22
45                   Director     16
156            Sales Director      5
170        Technical Director      4
145          Project Engineer      4
132        Operations Manager      4
164  Senior Lighting Designer      3
134                     Owner      3
37          Creative Director      3
171         Technical Manager      3
42            Design Engineer      3
41            Design Director      3
111         Lighting Designer      3
110   Lighting Design Manager      2
29        Commercial Director      2
147           Project Manager      2
160           Senior Designer      2
76            General Manager      2
141   Product Design Engineer      2
109  Lighting Design Engineer      2

In [87]:
2+2+7+9+8+7+4+8+4+6+7+5+4+5+8+8+7

101

In [91]:
Conversation=first['My Tags'].str.contains('conversation')

In [93]:
conv=first[Conversation]

In [94]:
conv

,id,VisitTime,Profile,SalesProfile,Picture,Degree,First Name,Middle Name,Last Name,Connections,...,Email,Phone,IM,Twitter,Location,Industry,My Tags,PersonalWebsite,My Notes,Unnamed: 25
2409,id.159788130,2021/01/20 13:08:38,https://www.linkedin.com/in/duncan-coombe-b966...,https://www.linkedin.com/sales/people/ACwAAAmG...,https://media-exp1.licdn.com/dms/image/C5603AQ...,1,Duncan,,Coombe,492,...,duncan.coombe@dclx.co.uk,,,,"Bromley, England, United Kingdom",Events Services,🦆-default-invited|Sent Blog 1|conversation|Sen...,,NaN,NaN
2442,id.37827796,2021/01/20 14:00:48,https://www.linkedin.com/in/richard-turner-104...,https://www.linkedin.com/sales/people/ACwAAAJB...,https://media-exp1.licdn.com/dms/image/C5603AQ...,1,Richard,,Turner,993,...,030569turner@gmail.com,,,,"Balcombe, England, United Kingdom",Electrical/Electronic Manufacturing,🦆-default-invited|conversation|Sent Blog 1|Sen...,,NaN,NaN
2451,id.536477471,2021/01/20 14:11:59,https://www.linkedin.com/in/steve-hainsworth-5...,https://www.linkedin.com/sales/people/ACwAAB_5...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Steve,,Hainsworth,6023,...,steve@lite-ltd.co.uk,,,,Greater Blackburn with Darwen Area,Architecture & Planning,🦆-default-invited|conversation|Sent Blog 1|Sen...,,NaN,NaN
2452,id.27266028,2021/01/20 14:13:14,https://www.linkedin.com/in/steven-blaess-b5016a9,https://www.linkedin.com/sales/people/ACwAAAGg...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Steven,,Blaess,1804,...,info@blaess.com,,,,"West End, England, United Kingdom",Real Estate,🦆-default-invited|conversation|Sent Blog 1|Sen...,,NaN,NaN
2465,id.551302499,2021/01/20 14:35:11,https://www.linkedin.com/in/david-caddick-96b7...,https://www.linkedin.com/sales/people/ACwAACDc...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,David,,Caddick,1562,...,david.caddick@lightcorporation.com,,david@marinelightcorp.com,,"Berkhamsted, England, United Kingdom",Maritime,🦆-default-invited|conversation|Sent Blog 1|Sen...,,NaN,NaN
2470,id.96268856,2021/01/20 14:41:26,https://www.linkedin.com/in/charles-wadsworth-...,https://www.linkedin.com/sales/people/ACwAAAW8...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Charles,,Wadsworth,394,...,caw@lightprojects.co.uk,,,,"London, England, United Kingdom",Electrical/Electronic Manufacturing,🦆-default-invited|conversation|Sent Blog 1|Sen...,,NaN,NaN
2484,id.15771427,2021/01/20 15:04:48,https://www.linkedin.com/in/guydp,https://www.linkedin.com/sales/people/ACwAAADw...,https://media-exp1.licdn.com/dms/image/C4E03AQ...,1,Guy,,Dyke-Price,746,...,adventures@whiterabbitracing.co.uk,020 8492 7633,,White_Rabbit_UK,"London, England, United Kingdom",Electrical/Electronic Manufacturing,🦆-default-invited|Sent Blog 1|conversation|Sen...,,NaN,NaN
2503,id.324259008,2021/01/20 15:33:37,https://www.linkedin.com/in/james-beardmore,https://www.linkedin.com/sales/people/ACwAABNT...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,James,,Beardmore,551,...,jamesbeardmoredesign@gmail.com,,,JamesBeardmore,Greater Sheffield Area,Design,|🦆-default-invited|conversation|Sent Blog 1|Se...,,NaN,NaN
2574,id.193029960,2021/01/20 17:22:18,https://www.linkedin.com/in/stephen-millyard-1...,https://www.linkedin.com/sales/people/ACwAAAuB...,https://media-exp1.licdn.com/dms/image/C5603AQ...,1,Stephen,,Millyard,885,...,stephen.millyard@gmail.com,07846007204,,,"Thatcham, England, United Kingdom",Construction,🦆-default-invited|Sent Blog 2|conversation,,NaN,NaN
2583,id.237233224,2021/01/20 17:39:22,https://www.linkedin.com/in/drewkenaz,https://www.linkedin.com/sales/people/ACwAAA4j...,https://media-exp1.licdn.com/dms/image/C5603AQ...,1,Drew,,Kenaz,365,...,hexfreq@gmail.com,,,,"Dudley, England, United Kingdom",Design,🦆-default-invited|Sent Blog 2|conversation,,NaN,NaN
3301,id.121571983,2021/02/17 10:40:07,https://www.linkedin.com/in/toddadamburnett,https://www.linkedin.com/sales/people/ACwAAAc_...,https://media-exp1.licdn.com/dms/image/C5603AQ...,1,Todd,,Burnett,1086,...,taubeta@live.co.uk,,,taubeta,Greater Stoke-on-Trent Area,Electrical/Electronic Manufacturing,🦆-default-invited|conversation,,NaN,NaN

In [97]:
tags=conv.groupby('My Tags')['Degree'] \
                             .count() \
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False) \
                             .head(20)

In [99]:
tags

                                             My Tags  count
4  🦆-default-invited|conversation|Sent Blog 1|Sen...      5
1  🦆-default-invited|Sent Blog 1|conversation|Sen...      2
2         🦆-default-invited|Sent Blog 2|conversation      2
0  |🦆-default-invited|conversation|Sent Blog 1|Se...      1
3                     🦆-default-invited|conversation      1

In [103]:
2+2+9

13